.banner-img {
  background-image:rgba(0,0,0,0.4),rgba(0,0,0,0.4);
  width: 100%;
  background: url();
  background-size: cover;
  height: 40vh;
}


.choose {
  margin-left: 20px;
  margin-top: 20px;
}

.avatar1 {
width: 20%;
border-radius: 75%;
margin-left: 50px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#000000, #000000);
  border: 1px solid #000000;
  margin-left: 141px;
  margin-top: 5px;
}

.chef {
margin-left: 20px;
}
