.banner-img {
  background-image:rgba(0,0,0,0.4),rgba(0,0,0,0.4);
  width: 100%;
  background: url(https://img.freepik.com/premium-photo/black-food-cooking-background-stone-texture-with-sea-salt-pepper-garlic-parsley-abstract-food-background-empty-space-text-can-be-used-food-posters-design-menu-top-view_253362-15861.jpg?w=1800);
  background-size: cover;
  height: 40vh;
}

.btn-primary{
  margin-left: 334px;

}

.choose {
  margin-left: 20px;
  margin-top: 20px;
}

.avatar1 {
width: 20%;
border-radius: 75%;
margin-left: 50px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  border: 1px solid #0F60C4;
  margin-left: 141px;
  margin-top: 5px;
}

.chef {
margin-left: 20px;
}
