.banner-img {
  background-image:rgba(0,0,0,0.4),rgba(0,0,0,0.4);
  width: 100%;
  background: url();
  background-size: cover;
  height: 40vh;
}

.carousel-item > img{
  object-fit: cover;
}

.choose {
  margin-top: 20px;
}

.avatar1 {
width: 20%;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#000000, #000000);
  border: 1px solid #000000;
  margin-left: 141px;
  margin-top: 5px;
}

.chef {
}

.card-product {
  padding: 20px;
  border: 1px solid black;
}
.header {
margin-left: 20px;
padding: 15px;
}

.upcoming {
  padding:20px;
}

.boxes {
  border: 2px solid rgb(124, 122, 122);
  padding: 5px;
  margin-top: 8px;
}

.tight {
  border: 5px solid rgb(55, 128, 0);
}
