<div class="container">
<h1>Create your booking</h1>
<p>Please let your chef know about your occasion for your booking using the form below</p>

<%= simple_form_for [@chef, @booking] do |f| %>
  <%= f.input :description %>
    <div>
      <%= f.date_field :booking_time %>
    </div>
      <div id="btn-submit">
        <%= f.submit "Create Booking", class: "btn btn-dark mt-3"%>
      </div>
    <% end %>
</div>
