<div class="banner-container">
  <div class="banner-image d-flex align-items-center">
    <div class ="bannerimgtxt text-center text-white m-auto">
    <h4>Welcome to LeChef, use LeChef for your special occasions - any place, any cuisine, anytime.</h4>
    </div>
  </div>
  <div class="findchef text-center ">
  <h5><%= link_to "Find Your Chef!", chefs_path%></h5>
  </div>
</div>
