<div class="banner-container">
  <div class="banner-image d-flex align-items-center">
    <div class ="bannerimgtxt text-center text-white m-auto">
      <div class="welcome" >
        <p>Welcome to LeChef</p>
      </div>
        <h2>Rent the perfect chef for your special occasion - any place, any cuisine, anytime.</h2>
      <div class="button">
        <%= link_to "Find your Chef!", chefs_path, class: "btn btn-dark btn-lg border border-white"%>
      </div>
    </div>
  </div>
  <div class="findchef text-center ">
  <h5></h5>
  </div>
</div>
