<div class="banner-container">
  <div class="banner-image d-flex align-items-center">
    <div class ="bannerimgtxt text-center text-white m-auto">
    <h2>Welcome to LeChef,</h2>
    <h4>Find the perfect chef for your special occasions - any place, any cuisine, anytime.</h4>
    </div>
  </div>
  <div class="findchef text-center ">
  <h5></h5>
  <%= link_to "Find your Chef!", chefs_path, class: "btn btn-dark"%>
  </div>
</div>
