<div class="banner-container">
  <div class="banner-image d-flex align-items-center">
    <div class ="bannerimgtxt text-center text-white m-auto">
    <h1>Welcome to LeChef,</h1>
    <h2>Find the perfect chef for your special occasions - any place, any cuisine, anytime.</h2>
  <%= link_to "Find your Chef!", chefs_path, class: "btn btn-dark btn-lg"%>
    </div>
  </div>
  <div class="findchef text-center ">
  <h5></h5>
  </div>
</div>
