<div class = "head text-center">
  <h2><strong>LeChef<strong></h2>
</div>
<div class = "body text-center">
<h4>Welcome to LeChef, the best place to find chefs for your special occasion, any food, anytime.</h4>

</div>
